<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="conocenos">
      <ion-icon name="business-outline"></ion-icon>
      <ion-label>Conócenos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="carreras">
      <ion-icon name="school-outline"></ion-icon>
      <ion-label>Carreras</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="servicios">
      <ion-icon name="library-outline"></ion-icon>
      <ion-label>Servicios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="vinculacion">
      <ion-icon name="briefcase-outline"></ion-icon>
      <ion-label>Vinculación</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="directorio">
      <ion-icon name="people-circle-outline"></ion-icon>
      <ion-label>Directorio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contacto">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-label>Contacto</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
